title: What Makes a Design Feel Intuitive?
number: 05
abstract: When I switched careers from psychology to design I never realized that these two fields are very much intertwined. A big part of what designers do is understand human behavior and come up with solutions to change that behavior. Not everyone is a designer, but everyone has an opinion about design, especially

{% extends "chapter.html" %}
{% block body %}

<p>When I switched careers from psychology to design I never realized that these two fields are very much intertwined. A big part of what designers do is understand human behavior and come up with solutions to change that behavior.
</p>

<p>Not everyone is a designer, but everyone has an opinion about design, especially if something feels intuitive. The problem is that we design one product for all type of users, and no two users are alike. Users have different backgrounds, experiences and expectations. When asking for an intuitive interface, they really ask for an interface that meets their specific expectations. To design products that feel intuitive for most users we first need to understand what intuition is.
</p>

<h2>Intuition</h2>
<p>Something feels intuitive when the knowledge of the user is sufficient to perform a task and the outcome is as expected and desired. In other words, you don’t have to think twice to get what you want. In digital product design this means that you know exactly where you have to click, tap or swipe to get the result you want.
</p>
<blockquote>
<p>When asking for an intuitive interface, they really ask for an interface that meets their specific expectations.</p>
</blockquote>
<p>
Complex products that you have been using for a long time can still feel intuitive because you might know exactly what to do. New and seemingly simple products can feel very unintuitive because you don’t have any knowledge of how to use them. Yet, it is not impossible to make new products feel intuitive because we can make use of under-appreciated design patterns.
</p>
<p>
Design patterns are commonly used solutions that most people have encountered before. These design solutions will feel familiar and intuitive because they use something called <i>schemas</i>.
</p>

<h2>Schemas</h2>
<p>People have a working memory, just like a computer. Everything you do and encounter, enters your working memory before it’s distributed to other parts of your brain where it is processed. The capacity of the human working memory is very limited, around the size of one headline or six numbers.
</p>

<p>
If someone has to process too much new information, something called cognitive overload, information will get lost and a feeling of discomfort arises. The user will experience this as unintuitive. Therefore it is essential for designers to create interfaces in which not too much new information is presented.
</p>

<p>
A schema will be created when people encounter situations or information multiple times. Schemas are memories of actions being taken in the past which work as a blueprint when you encounter the same sort of situation or information again.
</p>

<p>
A common example of a schema is that a button in an interface is clickable. We all encountered buttons in interfaces and we don’t have to think twice to figure out that we can click them. Other examples are that most people, using a web application, will expect to find their profile on the top right or a search field somewhere at the top of the screen.
</p>

<p>
The working memory is kept free to process other information by using schemas. This way the user experience feels more familiar and intuitive because the user does not need to think about what to do.
</p>

<h2>Obvious solutions</h2>
<p>
Next time you work on a new product, don’t go for that crazy new design approach, just for the sake of being different. Figure out what schemas already exist and don’t be afraid of going for the obvious design solution.
</p>

<p>
Having said that, don’t let this kill your creativity, new innovative design solutions that are better than existing design patterns can always become new obvious intuitive design solutions.
</p>


{% endblock body %}
















