title: You are a fraud
number: 02
abstract: Yo!

{% extends "chapter.html" %}

{% block body %}

<p>
You are a fraud. It's just a matter of time, before you get exposed as a 'fraud'. Yes, everyone will finally find out that you are not an actual designer, but just a person who happens to be able to move some boxes in Sketch or photoshop and by accident landed this job with the job title Product Designer. This is exactly how many product designers I've met feel. They feel that everyone around them exactly knows what they are doing, but they self are just like ¯\_(ツ)_/¯.
</p>
<p>
This so called 'Imposter Syndrome' is affecting many designers, but what is it exactly and by what is it caused and how does it affect designers? Even though it is not an official mental illness it's been mentioned the first time by Pauline R. Clance and Suzanne A Imes in a study about high achieving women. What they found is that high achieving woman had a tendency to underestimate their own intelligence and over-estimated the intelligence of others. It is now clear that this a phenomena is not only affecting woman, it is also experienced by many men. It's been thought that even as high as 70% of the people have some form of this syndrome.
</p>
<p>
The imposter syndrome is caused by the failure to internalise success. Every person makes an assessment of their actions and what caused the end result. If someone lands a certain job, he/she will make an assumption that it happened because of either internal attributions—like hard work, intelligence and preparation—or external attributions; luck, extraordinary circumstances.
The people who externalise their succes, experience the feeling of being a fraud. They fail to see that their own actions and talent has caused their succes. 
</p>
<h2>
The imposter cycle
</h2>
<p>
The hard things about the imposter syndrome is hat it is a vicious circle, called the imposter cycle. It starts with the self doubt of ones own capabilities to achieve a certain goal. This anxiety can have to different effect; one can work insanely hard to prepare or fall into the complete opposite and procrastinate. Either way, when succes happens, the person will think if he/she procrastinated it probably was because of luck they succeeded, and if they worked insanely hard , they wil feel they had to put in much more work as other people to achieve this goal. Both situations lead to an inferior feeling and even more self-doubt. 

[img]

High achievers
It might be reassuring to know that this feeling has strong correlation with being a high achiever. 
Poople 
</p>



{% endblock body %}


{% block prev-chapter %}
<a href="/01.html" id="prev-page">&lsaquo; Prev</a>  
{% endblock %}

{% block next-chapter %}
<a href="/03.html" id="next-page">Next &rsaquo;</a>
{% endblock %}
















