title: What is creativity?
number: 03
abstract: Yo!

{% extends "chapter.html" %}

{% block body %}

<p>
Porchetta pancetta short ribs, bresaola pastrami ribeye kevin pork. Shank chicken shoulder, tail boudin pork chop ground round jowl doner flank landjaeger shankle short ribs beef ribs. Bacon jowl bresaola, beef tenderloin sausage pork belly beef ribs short loin. Pork loin tongue pork jowl shank. Ham hock t-bone frankfurter tri-tip short ribs, turkey leberkas biltong cupim.
</p>

<p>
Porchetta pancetta short ribs, bresaola pastrami ribeye kevin pork. Shank chicken shoulder, tail boudin pork chop ground round jowl doner flank landjaeger shankle short ribs beef ribs. Bacon jowl bresaola, beef tenderloin sausage pork belly beef ribs short loin. Pork loin tongue pork jowl shank. Ham hock t-bone frankfurter tri-tip short ribs, turkey leberkas biltong cupim.
</p>

<p>
Porchetta pancetta short ribs, bresaola pastrami ribeye kevin pork. Shank chicken shoulder, tail boudin pork chop ground round jowl doner flank landjaeger shankle short ribs beef ribs. Bacon jowl bresaola, beef tenderloin sausage pork belly beef ribs short loin. Pork loin tongue pork jowl shank. Ham hock t-bone frankfurter tri-tip short ribs, turkey leberkas biltong cupim.
</p>

{% endblock body %}


{% block prev-chapter %}
<a href="/02.html" id="prev-page">&lsaquo; Prev</a>  
{% endblock %}

{% block next-chapter %}
<a href="/04.html" id="next-page">Next &rsaquo;</a>
{% endblock %}
















