title: Grumpy Designer Syndrome
number: 06
abstract: Yo!

{% extends "chapter.html" %}

{% block body %}

<p>Yes, I have it. I realize it every time when we are about to launch something new. I look at my own design and Instead of being proud that we came this far and that we pushed forward to launch fast, I feel terrible, gutted even, that the design I created is just not good enough. I see flaws and inconsistencies everywhere and can’t help the feeling that I should start all over, from scratch. “Have another go” as my design teacher at London University of the Arts would say.</p>

<p>I realize this happens every time, with every product we’re about to launch. I call it the Grumpy Designers Syndrome, or GDS as it is known to long time sufferers. Like any syndrome it’s genetically determined, something you can’t do anything about and it is not something you are proud of.</p>

<p>This feeling of being grumpy and not satisfied is on the one hand very inconvenient and annoying (in particular for your coding colleagues) but on the other hand it might be absolutely necessary for any designer that has the goal of becoming the best he/she can be. It forces you to learn new things, put in that extra effort, walk that extra mile and feel ok if you need to start all over again, even after you have put in all that work. That feeling of not being satisfied is pushing you to not give up and keep trying and to improve your skills as fast as possible.</p>

<p>So next time you feel the Grumpy Designer Syndrome playing up again, appreciate this feeling. It brought you where you are today. But do realize that perfection might start with Good Enough.</p>


{% endblock body %}


{% block prev-chapter %}
<a href="/05.html" id="prev-page">&lsaquo; Prev</a>  
{% endblock %}

{% block next-chapter %}
<a href="/07.html" id="next-page">Next &rsaquo;</a>
{% endblock %}
















