{% extends "base.html" %}
{% block content %}

<section id="cover">
  <div class="overlay">
    <div class="title">
      <h1><span class="n1">Product</span><br><span class="n2">Design</span><br><span class="n3">Psychology</span></h1>
      <p><span class="hide-mob">A free pocket guide </span>by <a href="https://twitter.com/wdeb">Wouter de Bres</a></p>
    </div><!--/title-->
  </div><!--/overlay-->
  <div class="bottom">
    <a href="" class="button white"><span class="ss-social">Twitter</span> Share on Twitter</a>
  </div><!--/bottom-->
</section>

<section id="toc">
  <div class="wrap">
    <h2>The Designer</h2>
    <ol>
      <li>
        <a href="01-introduction.html">
          <span class="chapter">Introduction</span>
          <span class="number">01</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/post.html">
          <span class="chapter">Learning design</span>
          <span class="number">02</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/post.html">
          <span class="chapter">What is creativity?</span>
          <span class="number">03</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/post.html">
          <span class="chapter">Cognitive biases</span>
          <span class="number">04</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/post.html">
          <span class="chapter">Design team dynamics</span>
          <span class="number">05</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/post.html">
          <span class="chapter">Grumpy Designer Syndrome</span>
          <span class="number">06</span>
        </a>
        <hr>
      </li>
    </ol>

    <h2>The Design</h2>
    <ol>
      <li>
        <a href="posts/post.html">
          <span class="chapter">Gestalt theory</span>
          <span class="number">07</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">Color psychology</span>
          <span class="number">08</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">Visual balance &amp; visual hierarchy</span>
          <span class="number">09</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">Copy writing</span>
          <span class="number">10</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">The importance of Simplicity</span>
          <span class="number">11</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">Cognitive load theory</span>
          <span class="number">12</span>
        </a>
        <hr>
      </li>
    </ol>

    <h2>The User</h2>
    <ol>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">What is user experience?</span>
          <span class="number">13</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">What is intuitive design?</span>
          <span class="number">14</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">How do users make decisions?</span>
          <span class="number">15</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">Social psychology in digital products</span>
          <span class="number">16</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">User motivation and product purpose</span>
          <span class="number">17</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="posts/what-makes-a-design-feel-intuitive.html">
          <span class="chapter">Retention and product stickiness</span>
          <span class="number">18</span>
        </a>
        <hr>
      </li>
    </ol>
    <hr class="end">
  </div><!--/wrap-->
</section>

{% endblock content%}
