{% extends "base.html" %}
{% block content %}

<section id="cover">
  <div class="overlay">
    <div class="title">
      <h1>Product<br>Design<br>Psychology</h1>
      <p><span class="hide-mob">A free pocket guide </span>by <a href="https://twitter.com/wdeb">Wouter de Bres</a></p>
    </div><!--/title-->
  </div><!--/overlay-->
  <div class="bottom">
    <a href="" class="button white"><span class="ss-social">Twitter</span> Share on Twitter</a>
  </div><!--/bottom-->
  <div class="cover-art">
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
</section>

<section id="toc">
  <div class="wrap">
    <h2>The Designer</h2>
    <ol>
      <li>
        <a href="01.html">
          <span class="chapter">Introduction</span>
          <span class="number">01</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="02.html">
          <span class="chapter">Imposter syndrome</span>
          <span class="number">02</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="03.html">
          <span class="chapter">Ringelman effect </span>
          <span class="number">03</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="04.html">
          <span class="chapter">Cognitive biases</span>
          <span class="number">04</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="05.html">
          <span class="chapter">Design team(group) dynamics</span>
          <span class="number">05</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="06.html">
          <span class="chapter">Grumpy Designer Syndrome</span>
          <span class="number">06</span>
        </a>
        <hr>
      </li>
    </ol>

    <h2>The Design</h2>
    <ol>
      <li>
        <a href="07.html">
          <span class="chapter">Gestalt theory</span>
          <span class="number">07</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="08.html">
          <span class="chapter">Color psychology</span>
          <span class="number">08</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="09.html">
          <span class="chapter">Visual hierarchy</span>
          <span class="number">09</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="10.html">
          <span class="chapter">Affordence</span>
          <span class="number">10</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="11.html">
          <span class="chapter">The psychology of simplicity</span>
          <span class="number">11</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="12.html">
          <span class="chapter">...</span>
          <span class="number">12</span>
        </a>
        <hr>
      </li>
    </ol>

    <h2>The User</h2>
    <ol>
      <li>
        <a href="13.html">
          <span class="chapter">Cognitive load and Perceptual load theory</span>
          <span class="number">13</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="14.html">
          <span class="chapter">Schemas</span>
          <span class="number">14</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="15.html">
          <span class="chapter">Intuitive design</span>
          <span class="number">15</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="16.html">
          <span class="chapter">Paradox of choice</span>
          <span class="number">16</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="17.html">
          <span class="chapter">Maslow piramyd and ux </span>
          <span class="number">17</span>
        </a>
        <hr>
      </li>
      <li>
        <a href="18.html">
          <span class="chapter">Balance theory and Nudge theory</span>
          <span class="number">18</span>
        </a>
        <hr>
      </li>
    </ol>
    <hr class="end">
  </div><!--/wrap-->
</section>

{% endblock content%}
