{% extends "base.html" %}
{% block page-id %}page-chapter{% endblock %}
{% block title %}{{ number }}. {{ title }} &mdash; Product Design Psychology by Wouter de Bres{% endblock title %}

{% block content %}
<div id="chapter">
<p class="small light center context"><span class="hide-mob">You are reading </span><a href="/">Product Design Psychology</a> by <a href="">Wouter de Bres</a></p>
<header>
<h1>{{ title }}</h1>
<span class="number">{{ number }}</span>
</header>
<article>
{% block body %}{% endblock body %}
</article>
<div class="share"><a href="/" class="button"><span class="ss-social">Twitter</span> Share on Twitter</a></div>
<footer>
	<a href="htp://twitter.com/wdeb" class="author"><img src="{% static '/images/wouter-de-bres.jpg' %}" alt="Wouter de Bres" width="72" height="72"/></a>
	<p>If you have any questions about this chapter or if you just want to connect, I am <a href="https://twitter.com/wdeb">@WdeB on Twitter</a> 
</footer>
<div class="bg-img"></div>
</div><!--/chapter-->
<div id="page-nav">
  {% block prev-chapter %}
  <a href="/" class="prev">&lsaquo; Chapter 7 <span class="hide-mob hide-tab">&mdash; The importance of Simplicity</span></a>
  {% endblock %}

  <a href="/" class="go-toc">Contents</a>

  {% block next-chapter %}
  <a href="/02-learning-design.html" class="next"><span class="hide-mob hide-tab">Learning Design &mdash; </span>Chapter 2 &rsaquo;</a>
  {% endblock %}
</div><!--/page-nav-->
{% endblock content %}