/*=========================================
  VARIABLES
===========================================*/

$baseline:              0.75rem;
$font-sans:             'Source Sans Pro', sans-serif;
$font-serif:            'Mermaid', serif;
$color-main:            rgba(000,118,255,1.00);
$color-sub:             rgba(000,255,255,0.06);
$color-gray-dark:       rgba(015,031,044,0.80);
$color-gray:            rgba(015,031,044,0.60);
$color-gray-light:      rgba(015,031,044,0.40);
$color-gray-lighter:    rgba(015,031,044,0.18);
$color-gray-lightest:   rgba(015,031,044,0.10);

/*=========================================
  IMPORTS
===========================================*/

@import "reset";
@import "fonts";

/*=========================================
  GENERAL ELEMENTS
===========================================*/

html{
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $color-gray;
  font-family: $font-sans;
  font-size: $baseline*1.6;
  font-weight: 400;
}

#cover, #toc, #chapter{
  opacity:0;
  animation: FadeIn 0.3s 1 forwards ease-in;
}
@keyframes FadeIn { from { opacity:0; } to { opacity:1; } }

/*=========================================
  HOME
===========================================*/

#cover{
  position: fixed;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
  background: linear-gradient(-30deg, #00bbFF , #0055FF); 
  //background-color: $color-main;
  overflow: hidden;


  .overlay{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2000;

    .title{
      display: inline-block;
      padding-bottom: $baseline*2;

      h1{
        font-family: $font-serif;
        font-size: 6vw;
        line-height: 1.05em;
        color: #fff;
      }

      p{
        display: block;
        font-weight: 600;
        background: url(/static/images/wdeb-logo.svg);
        background-size: $baseline*2;
        background-repeat: no-repeat;
        background-position: center left;
        padding: $baseline*2 0 $baseline*2 $baseline*3;


        a{
          color: inherit;
          text-decoration: none;
          border-bottom: 1px $color-gray-light dotted;

          &:hover{
            border-style: solid;
          }
        }
      }
    }
  }

  .bottom{
    position: absolute;
    z-index: 2000;
    bottom: $baseline*4;
    width: 100%;
    text-align: center;
  }

  .cover-art{
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .shape-1{
      width: 2%;
      height: 0;
      position: absolute;
      top: -140vh;
      right: -25vw;
      border-bottom: 300vh solid rgba(0,255,170,0.25);
      border-left: 45vw solid transparent;
      border-right: 45vw solid transparent;
      height: 0;
      width: 560px;
      transform: rotate(45deg);
    }

    .shape-2{
      width: 2%;
      height: 0;
      position: absolute;
      top: -140vh;
      left: -25vw;
      border-bottom: 300vh solid rgba(255,0,255,0.25);
      border-left: 45vw solid transparent;
      border-right: 45vw solid transparent;
      height: 0;
      width: 560px;
      transform: rotate(-45deg);
    }

    .shape-3{

    }
  }
}

@keyframes breathe{
  0% {
    filter: blur(0px);
    opacity: 1;
    
  }
  50% {
    filter: blur(0px);
    transform: scale(1.0,1.0) translateY(-5vh);
    opacity: 1;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

#toc{
  position: relative;
  z-index: 3000;
  background: #fff;
  left: 50%;
  width: 50%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  

  .wrap{
    flex-basis: $baseline*56;
    padding: $baseline*4 $baseline*4 $baseline*2;
    position: relative;
    z-index: 3000;
    background: #fff;

    ol{
      margin: -$baseline/3 0 $baseline*4 0;

      li{
        position: relative;
        margin-bottom: $baseline/2;

        a{
          display: block;
          height: $baseline*3;

          span{
            position: relative;
            z-index: 100;
            background: #fff;
            height: $baseline*3;

            &.chapter{
              line-height: $baseline*3;
              padding: 0 6px 0 0;
            }

            &.number{
              float: right;
              line-height: $baseline*3;
              color: $color-gray-light;
              padding: 0 0 0 6px;
            }
          }
        }

        hr{
          height: 1px;
          background: transparent;
          border: none;
          border-bottom: 1px dotted $color-gray-lighter;
          position: absolute;
          z-index: 1;
          bottom: 11px;
          left: 0;
          right: 0;
          margin: 0;
        }
      }
    }
  }
}


/*=========================================
  TYPOGRAPHY
===========================================*/

h1{
  font-family: $font-serif;
  font-size: 4.4rem;
  line-height: 1.1em;
  color: $color-gray-dark;
}

h2{
  font-size: $baseline*2.5;
  font-weight: 300;
  margin-bottom: $baseline*1.5;
}

p{
  line-height: $baseline*2.5;
  margin-bottom: $baseline*2;

  &.small{
    font-size: 80%;
  }

  &.light{
    color: $color-gray-light;
  }
}

.center{
  text-align: center;
}

.ss-social{
  font-family: "SSSocial";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}

.end{
  border: none;
  height: $baseline*2;
  background: url(/static/images/wdeb-logo.svg);
  background-size: $baseline*2;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
  margin: $baseline*7 0;
}


/*=========================================
  LINKS & BUTTONS
===========================================*/

a{
  color: $color-main;
  text-decoration: none;

  &:hover{
    text-decoration: underline;
  }

  &.button{
    border: 2px solid;
    padding: 10px $baseline*1.5;
    display: inline-block;
    border-radius: 99px;
    text-align: center;
    text-decoration: none;

    span{
      position: relative;
      bottom: -3px;
      margin-right: 5px;
    }

    &.white{
      color: #fff;
      border-color: #fff;
    }
  }
}

/*=========================================
  CHAPTER
===========================================*/

#chapter{
  max-width: $baseline*56;
  margin: 0 auto;
  padding: $baseline*2 $baseline*2 $baseline*5;
  

  .context{
  	position: relative;
  	z-index: 100;

  }

  header{
    position: relative;
    text-align: center;
    z-index: 0;
    margin-bottom: $baseline*4;

    h1{
      position: absolute;
      display: block;
      width: 100%;
      top: 50%;
      transform: translateY(-40%);
      z-index: 2;
      text-align: center;
    }

    .number{
      font-weight: 700;
      color: #fff;
      font-size: 17rem;
      line-height: 0.7em;
      position: relative;
      z-index: 1;
      user-select: none;
    }

  }

  article{

    figure{
      display: block;
      margin: $baseline ($baseline*-4) $baseline*2;

      img{
      	margin: auto;
        display: block;
        background: $color-gray-lightest;
      }

      figcaption{
         @extend p.small;
         @extend p.light;
         text-align: center;
         margin-top: $baseline;
      }
    }
  }

  .share{
    text-align: center;
    padding: $baseline*4 0 $baseline*6;
  }

  footer{
    padding: 0 0 0 $baseline*8;
    margin-bottom: $baseline*10;
    position: relative;

    .author{
      width: $baseline*6;
      width: $baseline*6;
      display: block;
      overflow: hidden;
      position: absolute;
      top: -$baseline/2.5;
      left: 0;

      img{
        border-radius: 100%;
      }
    }
  }

  .bg-img{
    position: fixed;
    z-index: -2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(/static/images/cover.png);
    background-size: 700px;
    background-repeat: no-repeat;
    background-position: center -60px; ;
    opacity: 0.10;
    filter: blur(0px);
  }
}

#page-nav{
  position: fixed;
  left: $baseline;
  right: $baseline;
  bottom: 0;
  height: $baseline*4;
  border-top: 1px solid $color-gray-lightest;
  background: rgba(255,255,255,0.92);
  

  a{
    @extend p.small;
    display: inline-block;
    height: $baseline*4;
    line-height: $baseline*4;
    padding: 0 $baseline*3;
    position: absolute;

    &#prev-page{
      left: -$baseline;
      padding-right: $baseline*4;
      padding-left: $baseline;
    }

    &.go-toc{
      left: 50%;
      transform: translateX(-50%);
    }

    &#next-page{
      right: -$baseline;
      padding-left: $baseline*4;
      padding-right: $baseline;
    }
  }
}

/*=========================================
  RESPONSIVE
===========================================*/

@media (max-width: 900px) {

  #cover{
    position: relative;
    right: 0;
    height: 90vh;
    min-height: $baseline*46;

    .overlay{

      .title{
        width: 100%;
        padding: $baseline*4;

        h1{
          font-size: 13vw;
        }
      }
    }
  }

  #toc{
    left: 0;
    width: 100%;

    .wrap{
      padding: $baseline*5 $baseline*4;
      flex-basis: 100%;
    }
  }

  #chapter article{
    figure{
      margin-left: -$baseline;
      margin-right: -$baseline;
    }
  }

  .hide-tab{
    display: none;
  }
}


@media (max-width: 600px) {
  #cover{
    height: 90vh;
    min-height: $baseline*30;

    .overlay{

      .title{
        padding: $baseline*1.5;

        h1{
          font-size: 16vw;
        }
      }
    }
  }

  #toc{
    left: 0;
    width: 100%;

    .wrap{
      padding: $baseline*4 $baseline*1.5;
    }
  }

  #chapter{

    h1{
      font-size: 3.5rem;
    }

    footer{
    padding: 0 0 0 0;

    .author{
      width: $baseline*6;
      width: $baseline*6;
      display: block;
      margin: 0 auto;
      position: relative;
    }
  }
  }
  

  .hide-mob{
    display: none;
  }
}


/*=========================================
  ANIMATIONS
===========================================*/
.cover-art {
  position: absolute;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;

    li {
      position: absolute;
      display: block;
      width: $baseline;
      height: $baseline;
      border-radius: 100%;
      background-color: rgba(255, 255, 255, 0.15);
      left: 0;
      top: 0;
      animation: flow 20s infinite;
      transition-timing-function: linear;
      filter: blur(4px);

      &:nth-child(1) {
        animation-delay: 0s;
      }

      &:nth-child(2) {
        left: $baseline*2;
        animation-delay: 0.1s;
      }

      &:nth-child(3) {
        left: $baseline*4;
        animation-delay: 0.2s;
      }

      &:nth-child(4) {
        left: $baseline*6;
        animation-delay: 0.3s;
      }

      &:nth-child(5) {
        left: $baseline*8;
        animation-delay: 0.4s;
      }

      &:nth-child(6) {
        left: $baseline*10;
        animation-delay: 0.5s;
      }

      &:nth-child(7) {
        left: $baseline*12;
        animation-delay: 0.6s;
      }

      &:nth-child(8) {
        left: $baseline*14;
        animation-delay: 0.7s;
      }

      &:nth-child(9) {
        left: $baseline*16;
        animation-delay: 0.8s;
      }

      &:nth-child(10) {
        left: $baseline*18;
        animation-delay: 0.9s;
      }
    }
  }

  &.two {
    left: 10%;

    ul li{
      top: 10%;
    }
  }

  &.three {

    ul li{
      top: 20%;
    }
  }

  &.four {

    ul li{
    }
  }   
}


@keyframes flow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50vh) rotate(900deg);
  }
  100% {
    transform: translateY(0);
  }
}


